footer{
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('http://localhost:4551/image/foot.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}