@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', sans-serif;
}

.text-custom{
  color:#FFEE32 !important;
  
}
.btn-primary {
  background-color: #FFEE32 !important;
  padding: 7px 20px;
  border-radius: 0;
  font-weight: 500;
  border: none !important;
  color: #000000 !important;
  box-shadow: none !important;
}

.btn-primary:hover {
  background-color: #f4e21d !important;
  box-shadow: none !important;
}

.btn-dark{
  padding: 7px 20px;
  border-radius: 0;
  background-color: #000000;
}

button{
  box-shadow: none !important;
}


.error {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: ghostwhite;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.error h1 {
  font-size: 60px;
  font-weight: 700;
  text-shadow: 0px 0px 5px rgb(226, 131, 147);
}



.blank_page{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}






::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(199, 194, 194);
}

.card {
  border: none;
  border-radius: 0;
   box-shadow: 0px 5px 15px gainsboro; 
}
.cur {
  cursor: pointer;
}
.mbneg {
  margin-bottom: -7px;
}
.mer-top{
margin-top: -10px !important;
}

.matchcom {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
}
.masmall {
  padding: 2px 7px;
  background: grey;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-size: 10px;
  margin: 1px;
}
.box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-control {
  border:1px solid black !important;
  
}
.form-control:focus{
  
box-shadow: none;
  
}
.wid{
  max-width: 70%;
  display: block;
  margin: auto;
}

@media (max-width:500px) {
  .wid{
    max-width: 100%;
    
  }
}
@media (min-width:750px ) and (max-width:1000px) {
  .wid{
    max-width: 100%;
    
  }
}

.modbox{
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
z-index: 9999;
}

.smbox{
  width:550px ;
  height: auto;
  background-color: white;
  padding: 15px;
  position: relative;
 
}











.btn-red{
  background-color: #f4e21d;
  padding: 8px 15px;
  border-radius: 30px;
  color:white;
  font-size: 25px;
  box-shadow: 0px 0px 7px 8px rgba(245, 240, 183,0.5);
  transition: box-shadow 0.3s ease;
}
.btn-red:hover{
  color:white;
  text-decoration: none;
  box-shadow: 0px 0px 7px 15px rgba(245, 240, 183,0.5);
  
  
}

.btn-outline {
  padding: 5px 15px;
  border-radius: 30px;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  box-shadow: unset;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.btn-outline:hover {
  box-shadow: unset;
  color: #ff0000;
  background-color: white;
  text-decoration: none;
}



.model_box{
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(13, 15, 0, 0.5);
  z-index: 9999;
}
.inner_model{
  width:350px;
  background-color: white;
  height: auto;
  padding: 15px;
  position: relative;
}

.cross{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #FFEE32;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: -10px;
  top:-10px;
}

@media (max-width:500px) {
  .inner_model{
      width: 90%;
  }
  
}

@media (max-width:600px) {
  .smbox{
    width: 90%;
  }
}